#nav-area .fa {
  color: #fff;
  font-size: 20px; }

.navbar {
  background: #093e52; }

.form-control:focus {
  box-shadow: none; }

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 40px;
  padding-left: 0; }

.btn, .fa {
  color: #137396; }

.input-group {
  width: 70%;
  border-radius: 30px; }

#card-area {
  position: relative; }
  #card-area .btn {
    color: #fff;
    position: absolute;
    top: 113px;
    left: 123px;
    border-radius: 25px; }
  #card-area h2 {
    font-size: 40px;
    color: #093e52; }
  #card-area p {
    font-size: 13px; }
  #card-area h3 {
    color: #fb5176; }
  #card-area .middle {
    font-size: 25px; }
  #card-area .joy {
    position: absolute;
    top: 110px;
    left: 140px; }
  #card-area .sai {
    padding-left: 50px; }
  #card-area .left {
    margin-left: 50px; }
  #card-area .right {
    margin-left: 50px; }
  #card-area .center {
    margin-left: 70px; }
